files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "run_as_user": "root"
        },
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/app/current/storage/logs/laravel-*.log",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "laravel.log"]]}`",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }

container_commands:
  01_install_cloudwatch_agent:
    command: |
      dnf install -y amazon-cloudwatch-agent
  02_configure_cloudwatch_agent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json
  03_start_cloudwatch_agent:
    command: |
      systemctl enable amazon-cloudwatch-agent
      systemctl start amazon-cloudwatch-agent